<h2>New meme</h2>

<form action="/home/create" method="post">
  <label for="image[title]">Title:</label>
  <input title="image[title]" autofocus>

  <label for="image[url]">Photo URL:</label>
  <input name="image[url]">

  <input type="submit" value="Create">
</form>